/* for base layout */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
:root {
	--color-white: hsl(0, 0%, 100%);
	--color-light2: hsl(300, 6%, 97%);
	--color-light: hsl(300, 6%, 93%);
	--color-grey: #ceccce;
	--color-green: #6ead3a;
	--color-darkgrey: #4c4947;
	--color-dark: #222022;
}

html,body {
	background-color: var(--color-light);
	height: 100%;
	width: 1200px;
}

textarea {
	max-width: 100%;
	min-height: 22px;
	min-width: 300px;
	max-height: 300px;
}

* {
	margin: 0 auto;
}

.page {
	background-color: var(--color-light);
	font-family: 'Roboto Flex', sans-serif;
	height: 99%;
	min-width: 500px;
	min-height: 500px;
	position: relative;
	width: 1200px;
}

.header {
	background-color: var(--color-white);
	height: 110px;
	font-size : 24px;
	margin-left: -1px; 
	margin-right: -1px; 
	margin-top: -1px; 
	border-radius: 0.5rem;
}

.menu,.content {
	bottom: 20px;
	position: absolute;
	top: 110px;
 	overflow: auto; 
}

.menu {
	background-color: var(--color-light2);
	left: 0;
	width: 25%;
	font-size: 18px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
 	padding-left: 5px; 

	margin: 10px 0px 10px 0px;
	border-radius: 0.5rem;
}

.content {
	background-color: var(--color-light2);
	left: 25%; 
	right: 0;
	
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
 	padding-left: 10px; 
	
	
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 0px;
	border-radius: 0.5rem;
}

.footer {
	background-color: var(--color-white);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1200px;
	height: 20px;
	
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	border-radius: 0.5rem;
}

.clear {
	clear: both;
}

/* for menu */

.menu-wrapper p {
    padding: 10px;
    text-align: center;
}

.menu-wrapper-error p {
    padding: 10px;
    text-align: center;
	color: red;
}

p.welcome {
	font-weight: 200;
	font-size: 12pt;
	line-height: 1rem;
	color: var(--color-darkgrey);
}

 .menu-wrapper {
	background: var(--color-white);
    margin: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.5rem var(--color-light);
}

.menu-wrapper-error {
	background: #ffe0e0;
	margin: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.5rem var(--color-light);
}

.menu-lang {
	background: var(--color-white);
	margin: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.5rem var(--color-light);
	bottom: 0;
	display: flex;
	position: absolute;
	min-width: 280px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu-title {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.list-menu-wrapper {
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 20px;
}

.list-menu-invisible-wrapper {
	padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 5px;
}

.menu-title-wrapper {
	padding-bottom: 5px;
	padding-top: 5px;
} 

/* for header */
 .wrapper {
	margin-left: 20px;
	position: relative;
}

.newstitle {
	width: 550px;
	height: 110px;
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color: var(--color-green);
	font-weight: bold;
	line-height: 2rem;
}

.local-link {
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: var(--color-dark);
	font-size: 14px;
} 

/* for news list */
form.news-filter {
	float: right;
}

select {
	padding: 5px;
	margin-right: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0.05rem 0.1rem var(--color-grey);
	transition: all 300ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

.news-filter input {
	min-width: 100px !important;
}

 .single-news-wrapper {
	margin-top: 15px;
	margin-right: 5px;
	background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: 0 0.1rem 0.5rem var(--color-light);
}

.single-news-header-wrapper {
	width: 100%;
}

.news-title {
	width: 80%;
	float: left;
	text-align: left;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 20px;
}

.news-date {
    font-weight: 100;
    font-size: 12pt;
    color: var(--color-darkgrey);
    text-align: right !important;
    padding-right: 15px;
}

.news-content {
	text-align: left;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 25%;
	padding-left: 20px; 
}

.news-link-to-wrapper {
	
}

.link-position {
	text-align: right;
	padding-right: 15px;
}

.link-position a {
    margin-right: 10px;
}

.locals {
	height: 20px;
}

.local-link a {
	padding-right: 10px;
	font-weight: 500;
	font-size: 18px;
}

.body-title {
	margin-top: 10px;
    margin-right: 5px;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: 0 0.1rem 0.5rem var(--color-light);
	padding-bottom: 18px;
}

.body-button-position {
	text-align: right;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 15px;
}

.no-news{
	margin-top: 10px;
	text-align: center;
}
 
/* for view news */
 .news_text_format {
    width: 95%;
    text-align: left;
    word-break: break-all;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 10px;
    box-shadow: 0 0.1rem 0.5rem var(--color-light);
}

.word-breaker {
	word-break: normal;
}

.space_around_view_text {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.space_around_title_text {
	width: 20%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: Grey;
}

.first-view-button {
	width: 50px;
	position: relative;
	margin-top: 20px;
	left: 22%;
}

.second-view-button {
	width: 50px;
	position: relative;
	bottom: 23px;
	left: 35%;
}

a {
	color: var(--color-green);
	text-decoration: none;
	font-weight: 200;
}

a:hover {
	text-decoration: underline;
}

form.reg {
	position: absolute;
	transform: translate(0%, -100%);
}

.signin-btn {
	margin-top: 5px;
}

input[type="submit" i] {
	border: none;
    background-color: var(--color-light);
    padding: 5px;
    border-radius: 0.5rem;
    box-shadow: 0 0.05rem 0.1rem var(--color-grey);
	transition: all 300ms cubic-bezier(0.39, 0.58, 0.57, 1);
}

input[type="submit"]:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

/* for add news  */
 .cancel-button {
	width: 40px;
	position: relative;
	bottom: 23px;
}

.save-button {
	width: 40px;
	position: relative;
	left: -90px;
}

.add-table-margin {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.add-table-cell-space-top {
	margin-top: 5px;
	margin-bottom: 5px;
}

.add-table-cell-space-bottom {
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-font {
	font: normal 100% Times New Roman;
}

.all_buttons_size {
    width: 80px;
}

/* more than one  */
.error-box{
	margin-top: 10px;
	text-align: center;	
}

p.username {
	font-size: 11pt;
	font-weight: 300;
	color: var(--color-green);
}

p.name {
	font-size: 15pt;
	font-weight: 500;
}

p.category {
	font-size: 12pt;
	font-weight: 200;
	color: #707070;
}

.news-wrapper {
	background: var(--color-white);
	margin: 10px;
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.5rem var(--color-light);
	padding: 5px 20px;
}

textarea {
	width: 100%;
	border-radius: 0.5rem;
	border: 1px solid var(--color-grey);
	transition: all 300ms cubic-bezier(0.39, 0.58, 0.57, 1);
	resize: none;
}

textarea:focus-visible {
	border: 2px solid var(--color-green);
	border-left: 1px solid var(--color-grey);
	border-right: 1px solid var(--color-grey);
	border-top: 1px solid var(--color-grey);
	border-radius: 0.2rem;
	outline: 0;
	background-color: var(--color-light2);
}

.error-page {
	background-image: url(../images/MonsterError.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -70%;
	font-family: 'Roboto Flex', sans-serif;
	height: 100%;
	min-width: 500px;
	min-height: 500px;
	position: relative;
	width: 1200px;
}

.error-wrapper {
	text-align: center;
	width: 500px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	border-radius: 0.5rem;
	box-shadow: 0 0.1rem 0.5rem var(--color-light);
	position: sticky;
	top: 25%;
}

.error-wrapper h1{
	font-size: 60pt;
	font-weight: 700;
}
.error-wrapper h2{
	font-size: 30pt;
	font-weight: 200;
	line-height: 2rem;
}

.error-input {
	font-size: 14pt;
}

